<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat bot</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body,
        html {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <%- include("header.ejs") %>
        <div id="hero-section">
            <h1 class="px-16 mt-10 text-2xl font-lighter">Hi, username</h1>
            <p class="px-24 my-2 text-lg font-lighter">i am chatbot name a virtual assistant that uses AI to interact
                with
                customers and help them with various banking tasks, from checking balances to paying bills. It's like
                having
                a personal banker available 24/7.
                <br />but not professional right now soo would be helping banking queries by answering just through
                text:)
            </p>
        </div>
        <div id="chat-button" class="flex justify-center">

            <a class="relative align-center px-3 py-2 my-10 bg-zinc-400 rounded-md hover:bg-zinc-500"
                href="/chatpage">Chat
                now</a>
        </div>
</body>

</html>