<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">
    <div id="login" class="w-3/6 relative border border-black rounded-xl h-1/2 flex overflow-hidden shadow-lg">
        <img class="object-cover brightness-75 h-full relative left-0 rounded-l-xl w-2/5" src="https://images.unsplash.com/photo-1659018966820-de07c94e0d01?q=80&w=1798&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Background Image" id="bg">
        <form method="POST" action="/login" class="flex flex-col w-3/5 h-full items-center justify-center bg-white px-8">
            <h1 class="my-3 text-2xl font-semibold text-center text-gray-800">LOGIN</h1>
            <input class="w-full rounded-md outline-none bg-neutral-600 text-zinc-300 block my-2 px-4 py-2" type="email" placeholder="Enter your email" name="email" required>
            <input class="w-full rounded-md outline-none bg-neutral-600 text-zinc-300 block my-2 px-4 py-2" type="password" placeholder="Enter your password" name="pass" required>
            <input class="w-full bg-neutral-600 py-2 px-4 hover:bg-zinc-800 hover:text-zinc-100 rounded-md mt-4 cursor-pointer transition duration-300" type="submit" value="Sign in">
            <span class="text-sm mt-4 text-gray-600">Don't have an account?</span>
            <a href="/register" class="text-sm underline text-blue-600 hover:text-blue-800">Register</a>
        </form>
    </div>

    <% if (messages && messages.success) { %>
        <script>
            alert("<%= messages.success %>");
        </script>
    <% } %>

    <% if (messages && messages.error) { %>
        <script>
            alert("<%= messages.error %>");
        </script>
    <% } %>
</body>
</html>
